template(name='PostsShowMobile')
  #container(style='width:100%; height:100%')
  if nextPostUrl
    #nextPostButton.next-prev-post.hide-on-modal
      a.waves-effect.waves-light(href=nextPostUrl)
        i.stroke.material-icons &#xE409;
  if prevPostUrl
    #prevPostButton.next-prev-post.hide-on-modal
      a.waves-effect.waves-light(href=prevPostUrl)
        i.stroke.material-icons &#xE408;
  if isArrowVisible 
    .arrow_box.hide
      | Write about your picture and publish! 
  #menu-bar.hide-on-modal
    table
      tr
        td.menu-button
          a.waves-effect.waves-light.share-button.modal-trigger.inpage-buttons(href="#share-modal")
            i.stroke.mdi-social-share.white-text

        td.menu-button
          if didILikeIt
            a.waves-effect.waves-light.unlike-button.inpage-buttons
              i.stroke.mdi-action-star-rate.yellow-text
          else
            a.waves-effect.waves-light.like-button.inpage-buttons
              i.stroke.mdi-action-star-rate.white-text

        td.menu-button
          a.waves-effect.waves-light.inpage-buttons.modal-trigger.content-edit-button(href="#content-modal")
            i.stroke.mdi-content-create.white-text
            span.red.comment-count-number
              | {{numberOfComments}}

        td.menu-button
          a.waves-effect.waves-light.modal-trigger.inpage-buttons(href="#view-mode-modal")
            //if isInVRMode
              //i.mdi-action-visibility.yellow-text
            //else
            i.stroke.mdi-action-visibility.white-text


        if isMyPost
          td.more-button
            a.waves-effect.waves-light.share-button.modal-trigger.inpage-buttons(href="#more-modal")
              i.stroke.mdi-navigation-more-vert.white-text
  #view-mode-modal.modal.bottom-sheet.modal-opacity
    .modal-content
      ul
        li.more-menu-items
          a#do-mode-button.waves-effect.waves-light.inpage-buttons.width-fill
            .row(class=modeDOSelectedClass)
              .col.s4.right-text
                  i.mdi-device-screen-rotation.black-text
              .col.s8.left-text.black-text
                | Device Orientation
          a#vr-mode-button.waves-effect.waves-light.inpage-buttons.width-fill
            .row(class=modeVRSelectedClass)
              .col.s4.right-text
                  i.mdi-action-visibility.black-text
              .col.s8.left-text.black-text
                | VR Mode
          
  #more-modal.modal.bottom-sheet.modal-opacity
    .modal-content
      ul
        li.more-menu-items
          a#remove-button.waves-effect.waves-light.inpage-buttons.width-fill
            .row
              .col.s4.right-text
                i.mdi-action-delete.black-text
              .col.s8.left-text.black-text
                | Delete
        li.more-menu-items
          a#position-save-button.waves-effect.waves-light.inpage-buttons.width-fill
            .row
              .col.s4.right-text
                i.mdi-editor-vertical-align-bottom.black-text
              .col.s8.left-text.black-text
                | Save this position 
            
  #share-modal.modal.bottom-sheet.modal-opacity
    .modal-content
      h4 Sharing action
      hr
      +shareit

  #content-modal.modal.modal-opacity
    .modal-content.centered-text
      .row
        .col.s12
          button.btn.btn-floating.right.white.black-text.close-modal-button.waves-effect.waves-light
            i.material-icons close 
          if isMyPost
            button#edit-button.btn.btn-floating.view-box.green.darken-3
              | Edit
            button#edit-cancel-button.btn.btn-floating.edit-field.orange.darken-4
              | Cancel 

      if title
        .row.view-box
          .col.s12
            h4#myModalLabel.modal-title {{title}}
      if desc
        .row.view-box
          .col.s12
            pre.centered-text.flow-text
              |  {{desc}}
            hr
            if tags
             .row
               .col.s12
                 | tags
                 .tags
                   each albums
                     span.chip 
                       | {{title}}
      .row.view-box
        .col.s12
          | {{createdAt.toLocaleString}}
      if address
        .row.view-box
          .col.s12
            | {{address.fullAddress}}
      .row.view-box
        .view-box.col.s4.offset-s4.profile-padding
          a(href="/users/{{user._id}}")
            +profileImage user
            br
            | {{user.username}}


      .row
        .col.s12
          .edit-field
            .row
              +autoForm id="editPost" type="update" collection="Post" doc=post class="col s12"
                .row
                  +afQuickField name='title' class="col s12"
                .row
                  +afQuickField name='desc' type="textarea" class="col s12"
                if isArrowVisible
                  .row
                    button.btn.red#red-publish-button(type="submit") Publish!
                else
                  .row
                    +afFieldInput  name="isPublished" type="switch" class="col s12" trueLabel="Published" falseLabel="Private"
                .row 
                  +afQuickField name="address" type="googleplace" opts=optsGoogleplace class="col s12 input-field"
                .row
                  .tag-edit.input-field.col.s12
                    +tagAutocomplete
                .row
                  .col.s12
                    if isMyPost
                      button.btn.btn-tiny.light-green.darken-4(type='submit')
                        | Save 
      .row.grey.lighten-3
        .view-box.col.s12
          br
          +comments
